## Objective

This notebook translates customer segmentation results into actionable
CRM (Customer Relationship Management) strategies. By mapping each customer
segment to targeted business actions, the analysis demonstrates how data-driven
segmentation can support marketing, retention, and risk management decisions.

In [2]:
import pandas as pd

df = pd.read_csv("../outputs/tables/customer_with_clusters.csv")
df.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,908.354652,1.000000,231.35,0.00,231.35,944.183414,1.000000,0.000000,0.857143,0.142857,3,7,1000.0,161.975360,930.115009,0.0,7,3
1,744.083484,1.000000,1096.98,589.48,507.50,174.714236,1.000000,0.500000,0.600000,0.200000,4,14,5000.0,1873.388189,148.294074,0.1,10,3
2,738.067431,1.000000,752.97,752.97,0.00,0.000000,0.666667,0.666667,0.000000,0.000000,0,11,2500.0,1393.051729,282.663936,0.0,12,3
3,333.085021,0.636364,980.00,980.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1000.0,1485.205378,163.396716,0.0,12,2
4,3559.634883,1.000000,7654.81,6984.29,670.52,0.000000,0.666667,0.666667,0.333333,0.000000,0,45,7000.0,2785.055072,783.737906,0.0,12,3

## Cluster-Based CRM Recommendations

Based on the behavioral characteristics of each customer segment, we map
clusters to targeted CRM objectives and actions.

| Cluster | Segment Name | CRM Objective | Recommended Actions |
|---|---|---|---|
| 0 | Low Engagement Customers | Increase engagement | Onboarding campaigns, light promotions, usage reminders |
| 1 | High-Value Active Spenders | Retention & loyalty | Loyalty rewards, personalized offers, exclusive benefits |
| 2 | Cash-Advance-Oriented / Higher-Risk | Risk mitigation | Spending controls, financial education, proactive monitoring |
| 3 | Disciplined / Financially Responsible | Long-term value | Credit limit increase, premium products, cross-selling |

In [3]:
crm_actions = {
    0: "Onboarding campaigns, light promotions, and usage reminders",
    1: "Loyalty rewards, personalized offers, and exclusive benefits",
    2: "Risk monitoring, spending controls, and financial education",
    3: "Credit limit increase, premium products, and cross-selling"
}

df["crm_recommendation"] = df["cluster"].map(crm_actions)
df[["cluster", "crm_recommendation"]].head()

   cluster                                 crm_recommendation
0        3  Credit limit increase, premium products, and c...
1        3  Credit limit increase, premium products, and c...
2        3  Credit limit increase, premium products, and c...
3        2  Risk monitoring, spending controls, and financ...
4        3  Credit limit increase, premium products, and c...

## Save Final Dataset with CRM Recommendations

The final dataset includes customer segments and corresponding CRM actions,
making it suitable for campaign execution and business reporting.

In [4]:
import os
os.makedirs("../outputs/tables", exist_ok=True)

df.to_csv("../outputs/tables/customer_with_clusters_and_crm.csv", index=False)

## Business Summary

This notebook translates customer segmentation results into actionable CRM
strategies. By aligning customer behavior with targeted actions, the approach
supports more effective engagement, retention, and risk management.

Together with the segmentation analysis, this workflow demonstrates how
data-driven insights can be transformed into practical business decisions.